body{
margin: 0;
padding: 0;
}
.signup{
    border:2px solid black;
    height :500px;
    width: 500px;
    border-radius: 50px;
    box-shadow: 50px 50px 100px #0b0b0b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:25px;
    background-color: cornflowerblue;
}
.signup-container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.data{
    display: flex;
    flex-direction: column;
    gap:15px;

}
.data input{
    height:30px;
    width:300px;

}
.data button{
    height:35px;
    width:100px;
    background-color: black;
    color:white;
   
}
.header-container{
background-color: rgb(20, 17, 13);
height:100px;
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 25px;
}
.head-items{
    background-color: cornflowerblue;
    
}
.logo-image{
    height: 50px; 
    width: 50px;
    display: flex;
    justify-content:start;
}
.head-items{
    display:flex;
    align-items: center;
    gap:25px;
}
.head-items li{
    list-style:none;
    font-size:20px;
}

.logo{
    
}