body{
margin: 0;
padding: 0;
}
.login{
    border:3px solid black;
    height :500px;
    width: 500px;
    gap:25px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:25px;
    background-color:rgb(129, 92, 7);
    box-shadow: 10px 20px 100px #c0662f;
}
.login-container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpapercave.com/wp/wp1994793.jpg);
   
}
.data{
    display: flex;
    flex-direction: column;
    gap:15px;

}
.data input{
    height:30px;
    width:300px;

}
.data button{
    height:35px;
    width:100px;
    background-color: black;
    color:palevioletred;
    display: flex;
    align-items: end;
   
   
}
.bu{
    display: flex;
    align-items: end;
    gap:10px;
    
}