body{
margin: 0;
padding: 0;
}
.login{
    border:3px solid rgb(65, 61, 61);
    height :500px;
    width: 500px;
    gap:25px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:25px;
    background-color:rgba(77, 74, 70, 0.5);
    box-shadow: 10px 20px 100px #3f3e3e;
    color: white;
    
}
.login-container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    background-image: url(https://hips.hearstapps.com/vidthumb/images/kendall-jenner-vittoria-ceretti-rianne-van-rompaey-gigi-news-photo-1678470005-6410a0e9d2a71.jpeg?crop=1.00xw:0.846xh;0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.data{
    display: flex;
    flex-direction: column;
    gap:15px;

}
.data input{
    height:30px;
    width:300px;

}
.data button{
    height:35px;
    width:100px;
    background-color: rgb(203, 114, 114);
    color:palevioletred;
    display: flex;
    align-items: end;
   
   
}
.bu{
    display: flex;
    align-items: end;
    gap:10px;
    
}
